<div class="column is half">
	<article class="media box">
		<figure class="media-left">
			<p class="image is -64*64">
				<img src="https://bulma.io/images/placholder/64*64.png">
			</p>
		</figure>
		<div class="media-content">


		</div>
	</article>
</div>



<% @twitts.each do |t|%>
<div class="column is half">
	<article class="media box">
		<figure class="media-left">
			<p class="image is -64*64">
				<img src="https://bulma.io/images/placholder/64*64.png">
			</p>
		</figure>
	
</div>
<div class="media-content">
	<div class="content">
	<p><b>user name</b></p><br/>
	 <p><%= t.created_at %></p><br/>
	<p><strong><%= t.twitt%></strong></p>
	<div><strong><%=link_to t "twitt" %></strong></div>
	<div>
		<%#=link_to 'edit', edit_twitt_path(t), class :"level-item" do%>
		
	</div>
	<p><%= link_to 'Destroy' ,twitt_path(t), method: :delete, data: {confirm: "are you sure??"}%>
	</p>
</div>
</div>
</article>
</div>
	<%end%>